<div class="spacer"></div>

<h1 class="mx-3">Flats List</h1>

<div class="spacer"></div>

<div class="container">
  <% @flats.each do |r| %>
    <%= link_to flat_path(r) do %>
      <div class="card m-3">
        <h4 class="m-3"><%= r.name %></h4>
        <h6 class="mx-3"><%= r.address %></h6>
        <p class="mx-3" style="text-align: right;"><%= r.price_per_night %></p>
      </div>
    <% end %>
  <% end %>
</div>